name: CI

on:
  push:
    branches:
      - master
    tags:
      - '**'
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      # Setup steps
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install deps
        run: yarn install
      - name: Lint code
        run: yarn lint
      - name: Build package
        run: yarn build

  release:
    if: github.ref_type == 'tag'
    needs: build
    runs-on: ubuntu-22.04
    steps:
      # Setup steps
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      - name: Install deps
        run: yarn install
      - run: npm ci
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
      - name: Slack Notify
        if: ${{ failure() }}
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_ICON: "https://raw.githubusercontent.com/github/explore/2c7e603b797535e5ad8b4beb575ab3b7354666e1/topics/actions/actions.png"
          SLACK_USERNAME: "GitHub Alerts"
          SLACK_CHANNEL: "#grpc-client-repo-alerts"
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_COLOR: ${{ job.status }}
          SLACK_MESSAGE: "Publish failure"
          SLACK_FOOTER: "Clarifai Web GRPC Repo"
